* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-color: #87bdff;
  --section-about: #f3f3f3;
  --section-produk: #ebebeb;
  --section-contact: #d1d1d1;
  --button-color: #3903ff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: auto;
}

#header {
 position: fixed;
 top: 0;
 width: 100%;
 background-color: var(--nav-color);
 box-shadow: 0 1px 6px 1px gray ;
}

#header #header-img {
  width: 150px;
  height: auto;
  color: white;
}

ul li {
  list-style-type: none;
  padding: 1em;
  text-align: center;
}
 ul li a {
   text-decoration: none;
   font-size: 1em;
   text-transform: uppercase;
   font-weight: bold;
   color: black;
 }

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 40%;
  min-width: 20%;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section {
  padding-top: 130px;
  padding-bottom: 100px; 
  background-color: var(--section-about);
}

#about .con-title {
  display: flex;
  justify-content: center;
}

section h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  width: fit-content;
  position: relative;
  padding: 1.2rem 0;
}

section h1::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 3px;
  bottom: 0;
  left: 23px;
  background-color: #3903ff;
}

section p {
  text-align: justify;
  margin: 2.3em 0;
  font-size: 1.1em;
}

.container-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


@media screen and (max-width: 900px) {
  .flex-nav {
    flex-direction: column ;
  }

  #nav-bar ul {
    flex-direction: column;
  }
}






