* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-color: #0b0491;
  --section-about: #f3f3f3;
  --section-produk: #ebebeb;
  --section-contact: #d1d1d1;
  --button-color: #3903ff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.container {
  width: 90%;
  margin: auto;
}

#header {
 position: fixed;
 top: 0;
 width: 100%;
 background-color: white;
 box-shadow: 0 1px 6px 1px gray ;
}

#header #header-img {
  width: 150px;
  height: auto;
  color: white;
}

ul li {
  list-style-type: none;
  padding: 1em;
  text-align: center;
}
 ul li a {
   text-decoration: none;
   font-size: 1em;
   text-transform: uppercase;
   font-weight: bold;
   color: black;
 }

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 50%;
  min-width: 20%;
}

#nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .flex-nav {
    flex-direction: column ;
  }

  #nav-bar ul {
    flex-direction: column;
  }
}






